@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    border-radius: 3rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #fff;
}

h1 {
    font-size: 24px;
    margin-bottom: 1rem;
}

.input-area {
    margin-bottom: 2rem;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
}

button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
    cursor: pointer;
    margin-left: 1rem;
    transition: 0.3s;
    
}

button:hover {
    background-color: #ddd;
}

.list-area {
    width: 50%;
    list-style: none;
    padding: 0;
    max-height: 500px;
    overflow-y: scroll;
}

li {
    margin-bottom: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.updated-details{
    
}